@media screen and (max-width: 1024px) {
    .header {
        flex-direction:column;
        align-items:cente;
        height:fit-content;
    }

    .footer {
        flex-direction: row;
        align-items: flex-start;
    }
    .content_row, .content_row1, .content_row2 {
        flex-direction: column;
        margin: 0;
        overflow: hidden;
    }

    .content,.sidebar, .sidebar3, .column,.fullbar {
        padding: 16px;
        margin :0;
        overflow: hidden;
    }
    .sidebar{width: auto;}
    .sidebar2{
        padding: 30px;
        margin: 0;
    }
    .sidebar3 {
        width: 280px;
    }
    div {
        margin: 8px;
        gap: 10px;
    }
    
    .cta button {
        width: 100%;
        padding: 10px;
    }

    .speakers {
        gap: 10px;
    }

    .speaker-card {
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .speaker-card img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    h1,h3, p1, p3, p5 {
        font-size: 1.5rem;
    }
    p2, p4, p6,p7 {
        font-size: 1rem;
    }

    button, input[type=btn] {
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }

    .cta button {
        font-size: 1rem;
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {
    .sidebar3 img {
        width: 100%;
        height: auto;
    }
}



@media screen and (max-width: 768px) {
    .dropdown-button {
        width: 200px;
        height: 40px;
        padding: 10px;
        font-size: 1rem;
        
    }

    .dropdown-content {
        min-width: 80%;
    }
    
}
@media screen and (max-width: 1024px) {
    .logo{
        width: auto;
        height: auto;
        align-self: center;
    }
    .logo1{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .icons{
        width: auto;
        height: auto;
    
    }
    .icons1{
        width: auto;
        height: auto;
    
    }
    
}
